{# templates/_reclamations_table.html.twig #}

<table class="table">
<thead>
    <tr>
        <th>Idrec</th>
        <th>Descrirec</th>
        <th>Daterec</th>
        <th>Categorierec</th>
        <th>Statutrec</th>
        <th>Imagedata</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for reclamation in reclamations %}
        <tr>
            <td>{{ reclamation.idrec }}</td>
            <td>{{ reclamation.descrirec }}</td>
            <td>{{ reclamation.daterec ? reclamation.daterec|date('Y-m-d') : '' }}</td>
            <td>{{ reclamation.categorierec }}</td>
            <td>{{ reclamation.statutrec }}</td>
            <td>
                {% if reclamation.imagedata %}
                    <img src="data:image/jpeg;base64,{{ reclamation.imagedata|base64_encode }}" alt="Reclamation Image" class="reclamation-image" style="max-width: 100px; max-height: 100px;">
                {% else %}
                    No image available
                {% endif %}
            </td>
            <td>
                <a href="{{ path('app_reclamation_show', {'idrec': reclamation.idrec}) }}">Show</a>
                <a href="{{ path('app_reclamation_edit', {'idrec': reclamation.idrec}) }}">Edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">No records found</td>
        </tr>
    {% endfor %}
</tbody>
</table>
