{% extends 'base.html.twig' %}

{% block title %}Statistiques pour le type de facture "Gaz"{% endblock %}

{% block body %}
    <main id="main" class="main">
        <div class="my-4 text-center">
            <hr class="my-4"> <!-- Barre horizontale décorative -->
            <h3>Statistiques</h3> <!-- Titre pour séparer visuellement -->
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Consommation totale: {{ consommationTotale }}</h4>
                </div>
                <div class="col-md-6">
                    <h4>Montant total: {{ montantTotal }}</h4>
                </div>
            </div>
        </div>

        <!-- Graphique -->
        <div class="container">
            <canvas id="facturesChart" width="400" height="200"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var ctx = document.getElementById('facturesChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [
                            {% for facture in factures %}
                                "{{ facture.getNumFacture() }}",
                            {% endfor %}
                        ],
                        datasets: [{
                            label: 'Consommation',
                            data: [
                                {% for facture in factures %}
                                    {{ facture.getConsommation() }},
                                {% endfor %}
                            ],
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Montant',
                            data: [
                                {% for facture in factures %}
                                    {{ facture.getMontant() }},
                                {% endfor %}
                            ],
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        </script>
    </main><!-- End #main -->
{% endblock %}
